button.modal__cancel-button, button.modal__submit-button {
    border-radius: 0px;
    font-size: 1.8rem;
    font-weight: 500;
    height: 50px;
    width: 150px;
    border: 0;
}
button.modal__cancel-button {
    float: left;
    color: $color-grey-dark-3;
    background-color: $color-grey-light-3;
    border-bottom: 3px solid darken($color: $color-grey-light-3, $amount: 30%);

}
button.modal__submit-button {
    color: $color-white;
    background-color: $color-teal-primary;
    border-bottom: 3px solid darken($color: $color-teal-primary, $amount: 30%);

}