.modal-dialog {
    margin-top: 80px;
    width: 950px;
    .modal-content {
        border-radius: 4px;

    }
}
    .DTE_Action_Edit {
        opacity:.7;
        h5 {
            font-size: 2.5rem;
        }
        @include fontStyleModal;
        .modal-body {
            background-color: $color-grey-light-2;
            padding: 40px 40px 5px 40px;
            text-align: left;
        }
        input#DTE_field_tag_name, input.STE_Field_InputControl {
            text-align: left;
            width: 100%;
            display: block;
            border: 1px solid $color-grey-dark-4;
            height: 38px;
            width: 800px!important;
            color: $color-grey-dark-3;
            margin: 0;
            padding-left: 10px;
        }
        .btn.btn-default {
            @extend button.modal__submit-button;
        }
    }